

{% block content %}

<div class="container py-5">

    <div class="card shadow border-0 rounded-4">
        <div class="card-body p-5">

            <h2 class="mb-4">Update Enquiry</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Full Name</label>
                    {{ form.full_name }}
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    {{ form.email }}
                </div>

                <div class="mb-3">
                    <label>Phone Number</label>
                    {{ form.phone_number }}
                </div>

                <div class="mb-3">
                    <label>Subject</label>
                    {{ form.subject }}
                </div>

                <div class="mb-3">
                    <label>Message</label>
                    {{ form.message }}
                </div>

                <div class="mb-3">
                    <label>Status</label>
                    {{ form.status }}
                </div>

                <button type="submit"
                        class="btn btn-success">
                    Update
                </button>

                <a href="{% url 'enquiry_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>
    </div>

</div>

{% endblock %}