

{% block content %}

<div class="container py-5">

    <h1 class="mb-4">Terms & Conditions</h1>

    <p>
        By using ChecknDrop services, you agree to comply with our terms and policies.
    </p>

    <h4>Service Usage</h4>
    <p>
        Users must provide accurate information while booking deliveries.
    </p>

    <h4>Payments</h4>
    <p>
        Payment once made is subject to refund policies.
    </p>

    <h4>Liability</h4>
    <p>
        ChecknDrop is not responsible for prohibited or incorrectly declared items.
    </p>

</div>

{% endblock %}